@model HOTP.Models.tblHOTP_Plan90

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblHOTP_Plan90</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quarter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quarter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Goal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblHOTP_EmployeeGoals.IndNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblHOTP_EmployeeGoals.IndNotes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlanID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
