@model List<HOTP.Models.GoalFull>
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_LayoutNoHeading.cshtml";
}

<style>
    .body-content {
        margin-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }

    textarea {
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 4px 4px 4px 4px;
        margin-right: 12px;
        margin-bottom: 4px;
    }

    .noBoxStop {
        border: none;
    }

    .noShow {
        display: none;
    }

    .nav-tabs > li > a {
        font-size: 18px;
    }

    #fixedLeft {
        color: #C97C35;
        float: left;
        position: fixed;
        top: 300px;
        left: -10px;
        font-size: 18px;
        font-weight: bold;
        transform: rotate(270deg);
    }

    .highlightScore {
        background-color: yellow;
    }

    .topCurve {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 4px 4px 4px 4px;
        margin-right: 12px;
    }

    .bottomCurve {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 4px 4px 4px 4px;
        margin-right: 12px;
    }
</style>
<div class="container">

    <h3>90-Day Action Plan for @Model[0].EmployeeName</h3>

    <div id="theRest">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "displayForm" }))
        {

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#quarter1" class="quarterTabs">Quarter 1</a></li>
                <li class="quarterTabs"><a data-toggle="tab" href="#quarter2" class="quarterTabs">Quarter 2</a></li>
                <li class="quarterTabs"><a data-toggle="tab" href="#quarter3" class="quarterTabs">Quarter 3</a></li>
                <li class="quarterTabs"><a data-toggle="tab" href="#quarter4" class="quarterTabs">Quarter 4</a></li>
            </ul>

            <div class="tab-content" id="tab-content" style="border:1px solid lightgray; border-top:none; padding:8px 12px 8px 12px; ">

                @for (int q = 1; q < 5; q++)
                {
                    string quarterID = "quarter" + q;
                    string quarterClass = "tab-pane fade";
                    if (q == 1) { quarterClass += " in active"; };

                    <div id="@quarterID" class="@quarterClass">

                        @for (int i = 0; i < Model.Count; i++)
                        {
                            bool pillarDisplayed = false;
                            int p = 0;
                            foreach (HOTP.Models.Plan90Full plan in Model[i].Plans)
                            {
                                if (plan.Plan.Quarter == q)
                                {
                                    if (!pillarDisplayed)
                                    {
                                        pillarDisplayed = true;

                                        <div class="row" style="margin-bottom:8px;">
                                            <div class="col-md-12">
                                                <div class="topCurve" style="font-size:large;background-color:#034f5a; color:white; font-weight:normal; text-align:left; padding:4px 4px 4px 8px;">
                                                    @Html.DisplayFor(model => model[i].Goal.PillarGoalName)
                                                    &nbsp;|&nbsp;
                                                    @Html.DisplayFor(model => model[i].EmployeeGoal.Weight)%
                                                    <div style="font-size:medium; ">
                                                        @Html.DisplayFor(model => model[i].Goal.Goal)
                                                    </div>
                                                </div>
                                                <div class="bottomCurve" style="padding:4px 4px 4px 8px; margin-top:0px;background-color:cornsilk">
                                                    @if (Model[i].Goal.Score == 5)
                                                    {
                                                        <span class="highlightScore">5</span>
                                                    }
                                                    else
                                                    {
                                                        <span>5</span>
                                                    }
                                                    =@Html.DisplayFor(model => model[i].Goal.Rating5) to @Html.DisplayFor(model => model[i].Goal.Rating5Suffix)
                                                    &nbsp;&nbsp;&nbsp;
                                                    @if (Model[i].Goal.Score == 4)
                                                    {
                                                        <span class="highlightScore">4</span>
                                                    }
                                                    else
                                                    {
                                                        <span>4</span>
                                                    }
                                                    = @Html.DisplayFor(model => model[i].Goal.Rating4) to @Html.DisplayFor(model => model[i].Goal.Rating4End)
                                                    &nbsp;&nbsp;&nbsp;
                                                    @if (Model[i].Goal.Score == 3)
                                                    {
                                                        <span class="highlightScore">3</span>
                                                    }
                                                    else
                                                    {
                                                        <span>3</span>
                                                    }
                                                    = @Html.DisplayFor(model => model[i].Goal.Rating3) to @Html.DisplayFor(model => model[i].Goal.Rating3End)
                                                    &nbsp;&nbsp;&nbsp;
                                                    @if (Model[i].Goal.Score == 2)
                                                    {
                                                        <span class="highlightScore">2</span>
                                                    }
                                                    else
                                                    {
                                                        <span>2</span>
                                                    }
                                                    = @Html.DisplayFor(model => model[i].Goal.Rating2) to @Html.DisplayFor(model => model[i].Goal.Rating2End)
                                                    &nbsp;&nbsp;&nbsp;
                                                    @if (Model[i].Goal.Score == 1)
                                                    {
                                                        <span class="highlightScore">1</span>
                                                    }
                                                    else
                                                    {
                                                        <span>1</span>
                                                    }
                                                    = @Html.DisplayFor(model => model[i].Goal.Rating1) to @Html.DisplayFor(model => model[i].Goal.Rating1Suffix)
                                                    &nbsp;&nbsp;&nbsp;
                                                    Result is @Html.DisplayFor(model => model[i].Goal.Result) using scoring method: @Html.DisplayFor(model => model[i].Goal.YearEndCalculation)
                                                    <br />
                                                    @if (Model[i].Goal.JanScore != null)
                                                    {
                                                        @:Jan:@Html.DisplayFor(model => model[i].Goal.JanScore)&nbsp;&nbsp;&nbsp;
                                            }
                                                    @if (Model[i].Goal.FebScore != null)
                                                    {
                                                        @:Feb:@Html.DisplayFor(model => model[i].Goal.FebScore)&nbsp;&nbsp;&nbsp;
                                            }
                                                    @if (Model[i].Goal.MarScore != null)
                                                    {
                                                        @:Mar:@Html.DisplayFor(model => model[i].Goal.MarScore)&nbsp;&nbsp;&nbsp;
                                            }
                                                    @if (Model[i].Goal.AprScore != null)
                                                    {
                                                        @:Apr:@Html.DisplayFor(model => model[i].Goal.AprScore)&nbsp;&nbsp;&nbsp;
                                            }
                                                    @if (Model[i].Goal.MayScore != null)
                                                    {
                                                        @:May:@Html.DisplayFor(model => model[i].Goal.MayScore)&nbsp;&nbsp;&nbsp;
                                            }
                                                    @if (Model[i].Goal.JunScore != null)
                                                    {
                                                        @:Jun:@Html.DisplayFor(model => model[i].Goal.JunScore)&nbsp;&nbsp;&nbsp;
                                            }
                                                    @if (Model[i].Goal.JulScore != null)
                                                    {
                                                        @:Jul:@Html.DisplayFor(model => model[i].Goal.JulScore)&nbsp;&nbsp;&nbsp;
                                            }
                                                    @if (Model[i].Goal.AugScore != null)
                                                    {
                                                        @:Aug:@Html.DisplayFor(model => model[i].Goal.AugScore)&nbsp;&nbsp;&nbsp;
                                            }
                                                    @if (Model[i].Goal.SepScore != null)
                                                    {
                                                        @:Sep:@Html.DisplayFor(model => model[i].Goal.SepScore)&nbsp;&nbsp;&nbsp;
                                            }
                                                    @if (Model[i].Goal.OctScore != null)
                                                    {
                                                        @:Oct:@Html.DisplayFor(model => model[i].Goal.OctScore)&nbsp;&nbsp;&nbsp;
                                            }
                                                    @if (Model[i].Goal.NovScore != null)
                                                    {
                                                        @:Nov:@Html.DisplayFor(model => model[i].Goal.NovScore)&nbsp;&nbsp;&nbsp;
                                            }
                                                    @if (Model[i].Goal.DecScore != null)
                                                    {
                                                        @:Dec:@Html.DisplayFor(model => model[i].Goal.DecScore)
                                            }
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    string planID = plan.Plan.PlanID.ToString();
                                    string tableID = "actionSteps_" + i + "_p" + p;
                                    string addActionID = "addAction_" + i + "_p" + p + "__" + planID;
                                    string nextActionID = "nextAction_" + i + "_p" + p;

                                    <div>
                                        @Html.TextBox("GoalFull[" + (@i) + "].Plans[" + (@p) + "].Plan.PlanID", plan.Plan.PlanID, new { @class = "noShow" })
                                        @Html.TextBox("GoalFull[" + (@i) + "].Plans[" + (@p) + "].Plan.Quarter", plan.Plan.Quarter, new { @class = "noShow" })
                                        <div class="row">
                                            <div class="col-md-1">
                                                @Html.LabelFor(model => plan.Plan.Goal, htmlAttributes: new { @class = "control-label " })
                                            </div>
                                            <div class="col-md-10">
                                                @Html.TextArea("GoalFull[" + (@i) + "].Plans[" + (@p) + "].Plan.Goal", plan.Plan.Goal, new { rows = 2, cols = 150 })
                                                @Html.ValidationMessageFor(model => plan.Plan.Goal, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-top:12px;">
                                        <table id="@tableID" name="@tableID">
                                            <thead>
                                                <tr>
                                                    <th width="40%">Action Step</th>
                                                    <th width="40%">Result</th>
                                                    <th width="15%">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{int actionNum = 0;}
                                                @foreach (HOTP.Models.tblHOTP_ActionSteps actionStep in plan.ActionSteps)
                                                {
                                                    <tr>
                                                        <td class="">
                                                            @Html.TextBox("GoalFull[" + (@i) + "].Plans[" + (@p) + "].ActionSteps[" + actionNum + "].PlanID", actionStep.PlanID, new { @class = "noShow" })
                                                            @Html.TextBox("GoalFull[" + (@i) + "].Plans[" + (@p) + "].ActionSteps[" + actionNum + "].ActionId", actionStep.ActionID, new { @class = "noShow" })
                                                            @Html.TextArea("GoalFull[" + (@i) + "].Plans[" + (@p) + "].ActionSteps[" + actionNum + "].ActionStep", actionStep.ActionStep, new { rows = 2, cols = 65 })
                                                        </td>
                                                        <td>
                                                            @Html.TextArea("GoalFull[" + (@i) + "].Plans[" + (@p) + "].ActionSteps[" + actionNum + "].Result", actionStep.Result, new { rows = 2, cols = 65 })
                                                        </td>
                                                        <td valign="top">
                                                            @Html.DropDownList("GoalFull[" + (@i) + "].Plans[" + (@p) + "].ActionSteps[" + actionNum + "].Status", new SelectList(ViewBag.PlanStatus, "Value", "Text", actionStep.Status))
                                                            @{actionNum += 1;}
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <input type="hidden" id="@nextActionID" value="@actionNum" />
                                        <br /><br />
                                    </div>

                                }
                                p += 1;
                            }
                        }
                    </div>
                }
            </div>
            <div style="margin-top:12px;">
                @Html.ActionLink("Back to List", "Index")
            </div>
        }

    </div>
</div>






<script type="text/javascript">
    $(document).ready(function () {
        $("#displayForm :input").attr("disabled", true);
        $(".noBoxStop").attr('tabindex', -1);
    });
</script>

<script>
    //document.getElementById("SelectedEmp").onchange = function () {
    //    document.getElementById("filterForm").submit();
    //};
    //document.getElementById("YearEnding").onchange = function () {
    //    document.getElementById("filterForm").submit();
    //};

    //$(document).ready(function () {
    //    if ($('#SelectedEmp').val() == "") $("#theRest").hide();
    //    else $("#theRest").show();
    //});
</script>

